.section-header {
	display: flex;
	flex-grow: 1;
	width: auto;
	justify-content: center;
	align-items: center;
	text-align: center;
	margin: 1.5em 0px 1em 0px;
}

.section-header:before,
.section-header:after {
	content: '';
	border-top: 2px solid;
	margin: 0 20px 0 0;
	flex: 1 0 20px;
}

.section-header:after {
	margin: 0 0 0 20px;
}
